<style type="text/css">
    .sampleTable {
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 6px;
        width: 141%;
        transform: translate(-450px, 494px);
    }
    .sampleTable td {
        font-size: 6px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .sampleTable .centralizetext {
        font-size: 6px;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .sampleTable th {
        font-size: 6px;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }
    .sampleTable .cells {
        width: 50px;
    }
    .sampleTable span {
        font-size: 6px;
    }
    .align-content-vertical {
        transform: rotate(90deg);
    }
    .circleSelect {
        border-radius: 100%;
        border: 1px solid #000;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
</style>

<div class="align-content-vertical">
    <table class="sampleTable" align="center">
        <colgroup>
            <col class="cells">
        </colgroup>

        <tr>
            <th class="th" rowspan="4">{{'MASTERCARD_RECEPTION_LABEL' | translate}}<br>{{'MASTERCARD_RECEPTION_LABEL_PICKED_DRUG' | translate}} <br>{{'MASTERCARD_RECEPTION_LABEL_Y_N' | translate}}</th>
            <th class="th">{{'MASTERCARD_RECEPTION_LABEL_Y' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;{{'MASTERCARD_RECEPTION_LABEL_N' | translate}}</th>
            <th ng-repeat="n in pickupARVDColumn" class="th">
                <span ng-class="{'circleSelect': dispensedDrug[n].dispensed}">{{'MASTERCARD_RECEPTION_LABEL_Y' | translate}}&nbsp;&nbsp;</span>
                <span>&nbsp;&nbsp;{{'MASTERCARD_RECEPTION_LABEL_N' | translate}}</span>
            </th>
        </tr>
        <tr>
            <td class="td">{{'MASTERCARD_RECEPTION_LABEL_DAY' | translate}}</td>
            <td ng-repeat="n in pickupARVDColumn" class="td">
                <span>{{dispensedDrug[n].dispensed_date | date:'dd'}}</span>
            </td>
        </tr>
        <tr>
            <td class="td">{{'MASTERCARD_RECEPTION_LABEL_MOTH' | translate}}</td>
            <td ng-repeat="n in pickupARVDColumn" class="td">
                <span>{{dispensedDrug[n].dispensed_date | date:'MM'}}</span>
            </td>
        </tr>
        <tr>
            <td class="td">{{'MASTERCARD_RECEPTION_LABEL_YEAR' | translate}}</td>
            <td ng-repeat="n in pickupARVDColumn" class="td">
                <span>{{dispensedDrug[n].dispensed_date | date:'yy'}}</span>
            </td>
        </tr>
    </table>
</div>