<style type="text/css">

@media print and (orientation: portrait) {
       .page {
        transform: translate(-240px,-200px) rotate(90deg);
      }
    }
  
  table {
  table-layout: fixed;
     }

    .tg {
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 9;
      border-collapse: collapse;
    }

    .tg td {
      padding: 0px 3px 0px 3px;
      border-style: dashed solid dashed solid;
      border-width: 1px;
      border-color: black;
    }

    .tg th {
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      font-size: 9;
      font-weight: normal;
      border-style: solid;
      border-width: 1px;
      border-color: black;
    }

    .tg tr {
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      font-size: 9;
      font-weight: normal;
      border-style: dashed;
      border-width: 1px;
      border-color: black;
    }

    .tg, .tg-9wq8 {
      border-color: inherit;
    }

    .tla {
      font-family: Arial, sans-serif;
      font-size: 12;
      font-weight: normal;
      border-collapse: collapse;
      margin-right:auto;
      margin-left: 0%;
    }

    .tlb {
      font-family: Arial, sans-serif;
      font-size: 12;
      font-weight: normal;
      border-collapse: collapse;
      margin-right:0%;
      margin-left: auto;
    }

    .tla, .tlb td {
      border-style: solid;
      border-width: 1px;
      border-color: black;
    }

    .tla, .tlb th {
      border-style: solid;
      border-width: 1px;
      border-color: black;
    }

    .tx {
      font-family: Arial, sans-serif;
      font-size: 12;
      display: "inline-block"
    }

    .txs {
      font-family: Arial, sans-serif;
      font-size: 8;
      display: "inline-block"
    }

    .circleSelect {
        border-radius: 100%;
        border: 1px solid #000;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
</style>

<body class='page'>
  <table class="tla">
    <th>Ficha Clinica</th>
  </table>

  <table class="tlb">
    <tr>
      <td>População Chave - HSH<input type="checkbox" ng-checked="ps.keyPopulation == 'PP_Key_population_PID'">
        PID<input type="checkbox" ng-checked="ps.keyPopulation == 'PP_Key_population_HSH'">
        REC<input type="checkbox" ng-checked="ps.keyPopulation == 'PP_Key_population_REC'">
        MTS<input type="checkbox" ng-checked="ps.keyPopulation == 'PP_Key_population_MTS'">
        Outro<input type="checkbox" ng-checked="ps.keyPopulation == 'PP_Key_population_Other'"></td>
    </tr>
    <tr>
      <td>População Vulnerável: {{ps.vulPopulation}}</td>
    </tr>
  </table>

  <br>
  <div class="tx"> <span> Nome: {{patient.name}}</span></div>
  <br>
  <div class="tx"> <span>NID (US / Anual / Individual): {{patient.identifier}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>TARV-Coorte (Mês / Ano):
      {{ps.treatmentStartDate | date:'MMM/yy'}} </span> </div>
  <br>

  <table class="tg" width='100%'>
    <tr>
      <th class="tg-9wq8"></th>
      <th class="tg-9wq8">1</th>
      <th class="tg-9wq8">2</th>
      <th class="tg-9wq8">3</th>
      <th class="tg-9wq8">4</th>
      <th class="tg-9wq8">5</th>
      <th class="tg-9wq8">6</th>
      <th class="tg-9wq8">7</th>
      <th class="tg-9wq8">8</th>
      <th class="tg-9wq8">9</th>
      <th class="tg-9wq8">10</th>
      <th class="tg-9wq8">11</th>
      <th class="tg-9wq8">12</th>
      <th class="tg-9wq8">13</th>
      <th class="tg-9wq8">14</th>
      <th class="tg-9wq8">15</th>
      <th class="tg-9wq8">16</th>
      <th class="tg-9wq8">17</th>
      <th class="tg-9wq8">18</th>
      <th class="tg-9wq8">19</th>
      <th class="tg-9wq8">20</th>
      <th class="tg-9wq8">21</th>
      <th class="tg-9wq8">22</th>
      <th class="tg-9wq8">23</th>
      <th class="tg-9wq8" colspan="2">24</th>
      <th class="tg-9wq8"></th>
    </tr>
    <tr style="border-style: solid solid solid solid; border-width: 1px">
      <td class="tg-9wq8" rowspan="4">
        <div style="transform:rotate(-90deg)">Processo X</div>
      </td>
      <td class="tg-9wq8" rowspan="2">Consulta Actual / Outros <span class='txs'>(d/ m/ a)</span></td>
      <td class="tg-9wq8" rowspan="2">Idade <span class='txs'>(Se ≥ 5 anos em anos; se ≤ 5 anos em meses)</span></td>
      <td class="tg-9wq8" rowspan="2">Gravidez / Data Última Menstruação / Lactante <span class='txs'>(G - Data DUM/ L)</span></td>
      <td class="tg-9wq8" rowspan="2">Estadio OMS <span class='txs'>(I, II, III, IV)</span></td>
      <td class="tg-9wq8">Peso(kg)</td>
      <td class="tg-9wq8" rowspan="3">PB <span class='txs'>(Grávida; 6 meses do pós-parto; Criança de 6-59 meses)</span></td>
      <td class="tg-9wq8" rowspan="2">Avaliação Nutricional</td>
      <td class="tg-9wq8" rowspan="3">Recebeu Apoio / Educação nutricional <span class='txs'>(Não / Tipo)</span></td>
      <td class="tg-9wq8" colspan="2">Tuberculose</td>
      <td class="tg-9wq8" rowspan="2">Profilaxia INH <span class='txs'>(Início / Continua / Fim - I / C / F)</span></td>
      <td class="tg-9wq8" rowspan="2">Ef. Secundários</td>
      <td class="tg-9wq8">ITS</td>
      <td class="tg-9wq8" rowspan="4">Infecções Oportunistas,Incluindo Sarcome Kaposi, outras doenças <span class='txs'>(Não / Diagnóstico)</span></td>
      <td class="tg-9wq8" colspan="2">Investigações</td>
      <td class="tg-9wq8" colspan="5">TARV</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" colspan="3">Referência para:</td>
      <td class="tgt" rowspan="4">
        <div style="transform:rotate(-90deg)">RUBRICA</div>
      </td>
    </tr>
    <tr style="border-style: solid; border-width: 1px">
      <td class="tg-9wq8" rowspan="3">Comprimento / Altura <span class='txs'>(Se ≥ 5 anos em metros; se ≤ 5 anos em cm)</span> </td>
      <td class="tg-9wq8" rowspan="2">Tem sintomas?<span class='txs'>(S / N)</span></td>
      <td class="tg-9wq8" rowspan="2">Diagnóstico TB activa <span class='txs'>(S / N)</span></td>
      <td class="tg-9wq8" rowspan="2">Tem sintomas? <span class='txs'>(S / N)</span></td>
      <td class="tg-9wq8" rowspan="2">Carga Viral <span class='txs'>(Pedido / Cópias / ml)</span></td>
      <td class="tg-9wq8" rowspan="3">Hemoglobina (Hg) /Transaminases (AST / ALT) / Glicemia (GL) Creatinina (CR) / Amilase (AM) / Outros (O) <span class='txs'>(<span style="text-decoration:underline">Pedido</span> - Marcar com círculo; <span
          style="text-decoration:underline">Resultado</span> - Valor)</span></td>
      <td class="tg-9wq8" rowspan="2">Linha - Dispensa mensal / Trimestral <span class='txs'>(1ª / 2ª / 3ª Linha - DM / DT)</span></td>
      <td class="tg-9wq8" rowspan="3"><span style="text-decoration:underline">Para cada ARV</span> Posologia de cada dose
        e № de doses /dia</td>
      <td class="tg-9wq8" rowspan="2">Alternativa ou Mudança linha? <span class='txs'>(Não / A - M)</span></td>
      <td class="tg-9wq8" rowspan="2">Efeitos Secundários <span class='txs'>(Não / Código - Grau)</span></td>
      <td class="tg-9wq8" rowspan="3">Mudança Estado P<span
          style="font-weight:inherit;font-style:inherit">ermanência</span><span
          style="font-weight:inherit;font-style:inherit">&nbsp;&nbsp;TARV</span><br>R<br>S&nbsp;&nbsp;&nbsp;A<br>O&nbsp;&nbsp;&nbsp;T
      </td>
      <td class="tg-9wq8" rowspan="3">Outras prescrições<span class='txs'>(Excluir TPI, TPC e ARVs)</span></td>
      <td class="tg-9wq8" rowspan="3">TB / PTV / PF /APSS e PP /Revelação Di<span
          style="font-weight:inherit;font-style:inherit">agnóstica /</span><span
          style="font-weight:inherit;font-style:inherit">Internamento / Outro</span></td>
      <td class="tg-9wq8">Grupo de Apoio <span class='txs'>(Código)</span></td>
      <td class="tg-9wq8">Modelo Diferenciado de Cuidados <span class='txs'>(MDC) Código</span></td>
    </tr>
    <tr style="border-style: solid; border-width: 1px">
      <td class="tg-9wq8" rowspan="2">Próxima Consulta <span class='txs'>(d/ m/ a)</span></td>
      <td class="tg-9wq8" rowspan="2">Tensão Arterial</td>
      <td class="tg-9wq8" rowspan="2">Plan. Familiar <span class='txs'>(Não / Método)</span></td>
      <td class="tg-9wq8" rowspan="2">Criança Edemas <span class='txs'></span>(o / +  ++  +++)</td>
      <td class="tg-9wq8">Indicador <span class='txs'>(IMC; PB; IMC / Idade; P / E)</span></td>
      <td class="tg-9wq8" rowspan="2">Profilaxia CTZ <span class='txs'>(Início / Continua / Fim - I / C / F)</span></td>
      <td class="tg-9wq8">INH <span class='txs'>(S / N)</span></td>
      <td class="tg-9wq8" colspan="2">Elegível <span class='txs'>(S / N)</span></td>
    </tr>
    <tr>
      <td class="tg-9wq8">IMC <span class='txs'>(Kg / m2)</span></td>
      <td class="tg-9wq8">Grau <span class='txs'>(Normal / Ligeira / DAM / DAG)</span></td>
      <td class="tg-9wq8">Quantidade </td>
      <td class="tg-9wq8">Quais sintomas? <span class='txs'>(FESTAC; adenopatias)</span></td>
      <td class="tg-9wq8">Tratamento TB <span class='txs'>(cartão / TB - Data de Início e Fim) (Início / Continua / Fim) (d / m / a - I /
          C / F)</span></td>
      <td class="tg-9wq8">CTZ <span class='txs'>(S / N)</span></td>
      <td class="tg-9wq8">Diagnóstico ITS <span class='txs'>(Código)</span></td>
      <td class="tg-9wq8">CD4 <span class='txs'>(Pedido / se ≤  5A - CD4%)</span></td>
      <td class="tg-9wq8">Regime <span class='txs'>(Siglas)</span></td>
      <td class="tg-9wq8">Motivo <span class='txs'>(Código)</span></td>
      <td class="tg-9wq8">Adesão <span class='txs'>(Boa / Risco / Má - B / R / M)</span></td>
      <td class="tg-9wq8" colspan="2">Início / Continua / Fim <span class='txs'>(I / C / F)</span></td>
    </tr>
    
    <tr style="border-style: solid solid dashed solid; border-width: 1px" ng-repeat-start="ps in masterCardData.patientInfo.psychosocialFactors track by $index">
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8" rowspan="1">{{ ps.actualVisit | date:'d/MM/yy' }}</td>
      <td class="tg-9wq8" rowspan="1">{{ ps.ageAtVisit }}</td>
      <td class="tg-9wq8" rowspan="1"><span ng-if="ps.pregnancyYesNo">G</span> <span ng-if="ps.lastMenstruationDate">/ {{ ps.lastMenstruationDate | date:'d/MM/yy' }}</span> <span ng-if="ps.breastFeeding"> / L</span></td>
      <td class="tg-9wq8" rowspan="1">{{ ps.whoStaging }}</td>
      <td class="tg-9wq8" rowspan="1">{{ ps.weight }}</td>
      <td class="tg-9wq8" rowspan="1">{{ ps.brachialPerimeter }}</td>
      <td class="tg-9wq8" rowspan="1">{{ps.indicator}}  </td>
      <td class="tg-9wq8" rowspan="1"><span ng-if="ps.receivedNutritionalSupport"> Apoio Nutricional:<span ng-if="ps.receivedNutritionalSupport===true">Sim</span> <span ng-if="ps.receivedNutritionalSupport === false">Não</span></span>  
        <span ng-if="ps.receivedNutritionalEducation">Educação Nutricional:<span ng-if="ps.receivedNutritionalEducation===true">Sim</span> <span ng-if="ps.receivedNutritionalEducation === false">Não</span>
      </span>&nbsp;&nbsp;&nbsp;{{ps.nutritionSupplement}}</td>
      <td class="tg-9wq8" rowspan="1"><div><span ng-class="{'circleSelect':ps.hasTBSymptoms===true}">S</span>&nbsp;&nbsp;&nbsp; <span ng-class="{'circleSelect':ps.hasTBSymptoms === false}">N</span></div></td>
      <td class="tg-9wq8" rowspan="1"><div><span ng-class="{'circleSelect':ps.TBdateDiag===true}">S</span>&nbsp;&nbsp;&nbsp; <span ng-class="{'circleSelect':ps.TBdateDiag === false}">N</span></div></td>
      <td class="tg-9wq8" rowspan="1"><div><span ng-class="{'circleSelect':ps.stateProphylaxisINH == 'Inicio_Prophylaxis'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.stateProphylaxisINH == 'Em Curso_Prophylaxis'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.stateProphylaxisINH == 'Fim_Prophylaxis'}">F</span></div></td>
      <td class="tg-9wq8" rowspan="1"><div><span ng-class="{'circleSelect':ps.spSideEffectsINH===true}">S</span>&nbsp;&nbsp;&nbsp; <span ng-class="{'circleSelect':ps.spSideEffectsINH === false}">N</span></div></td>
      <td class="tg-9wq8" rowspan="1"><div><span ng-class="{'circleSelect':ps.hasSTISymptoms===true}">S</span>&nbsp;&nbsp;&nbsp; <span ng-class="{'circleSelect':ps.hasSTISymptoms === false}">N</span></div></td>
      <td class="tg-9wq8" rowspan="2"><span ng-repeat='con in ps.otherCondition track by $index'>{{con}}</span></td>
      <td class="tg-9wq8" rowspan="1"><span ng-if="ps.viralLoadReq === true">PEDIDO</span>{{ps.viralLoad}}</td>
      <td class="tg-9wq8" rowspan="2">
        <span ng-class="{'circleSelect':ps.hgbReq === true }">Hb</span>&nbsp;{{ps.hgb}} <span ng-if="ps.hgbReq === undefined">___</span> 
        <span ng-class="{'circleSelect':ps.altReq === true }">ALT</span>&nbsp;{{ps.alt}}<span ng-if="ps.altReq === undefined">___</span>
        <span ng-class="{'circleSelect':ps.astReq === true}">AST</span>&nbsp;{{ps.ast}}<span ng-if="ps.astReq === undefined0">___</span>
        <span ng-class="{'circleSelect':ps.glReq === true }">GL</span>&nbsp;{{ps.gl}}<span ng-if="ps.glReq === undefined">___</span>
        <span ng-class="{'circleSelect':ps.crReq === true }">CR</span>&nbsp;{{ps.cr}}<span ng-if="ps.crReq === undefined">___</span>
        <span ng-class="{'circleSelect':ps.amReq === true }">AM</span>&nbsp;{{ps.am}}<span ng-if="ps.amReq === undefined">___</span>
        <span>O</span>_________________</td>
      <td class="tg-9wq8" rowspan="1"><span ng-if="ps.prescribedDrugs.line && ps.prescribedDrugs.line === '1' ">1ª</span>
        <span ng-if="ps.prescribedDrugs.line && ps.prescribedDrugs.line === '2' ">2ª</span>
        <span ng-if="ps.prescribedDrugs.line && ps.prescribedDrugs.line === '3' ">3ª</span>
        <span ng-if="!ps.prescribedDrugs.line">_</span> Linha 
        <span ng-class="{'circleSelect':ps.prescribedDrugs.dosing === 'Mensal'}">DM</span> <span ng-class="{'circleSelect':ps.prescribedDrugs.dosing === 'Trimestral'}">DT</span></td>
      <td class="tg-9wq8" rowspan="2"> {{ps.prescribedDrugs.dose}} {{ps.prescribedDrugs.unit}} {{ps.prescribedDrugs.frequency}}</td>
      <td class="tg-9wq8" rowspan="1">N/A</td>
      <td class="tg-9wq8" rowspan="1">{{ps.tarvSideEffects}}</td>
      <td class="tg-9wq8" rowspan="2"><span ng-class="{'circleSelect':ps.statusState === 'ACTIVE-TARV_RESTART'}">R</span><br>
        <span ng-class="{'circleSelect':ps.statusState === 'ACTIVE-TARV_TREATMENT_SUSPENDED' || ps.statusState === 'INACTIVE_SUSPENDED-TARV' }">S</span>&nbsp; 
        <span ng-class="{'circleSelect':ps.statusState === 'ACTIVE-TARV'}">A</span><br>
         <span ng-class="{'circleSelect':ps.statusState === 'INACTIVE-DEATH-TARV'}">O</span>&nbsp;
          <span ng-class="{'circleSelect':ps.statusState === INACTIVE_TRANSFERED_OUT-TARV}">T</span>
      </td>
      <td class="tg-9wq8" rowspan="2"> <span ng-repeat="dr in ps.otherPerscribedDrugs track by $index"> {{dr}}</span></td>
      <td class="tg-9wq8" rowspan="2"><span ng-repeat="ref in ps.referenceSectionOtherServices track by $index"> {{ref}}</span></td>
      <td class="tg-9wq8" rowspan="1">
          <span ng-class="{'circleSelect':ps.referenceSectionSupportGroupCR || ps.referenceSectionSupportGroupPC || ps.referenceSectionSupportGroupAR || ps.referenceSectionSupportGroupMPS || ps.referenceSectionSupportGroup}">S</span>&nbsp;&nbsp;&nbsp; <span>N</span>
      </td>
      <td class="tg-9wq8" rowspan="1">
          <span ng-class="{'circleSelect':ps.referenceMDCSectionAF || ps.referenceMDCSectionDT || ps.referenceMDCSectionGA || ps.referenceMDCSectionCA || ps.referenceMDCSectionPU || ps.referenceMDCSectionFR || ps.referenceMDCSectionDC || ps.referenceMDCSectionOther }">S</span>&nbsp;&nbsp;&nbsp; <span>N</span>
      </td>
      <td class="tg-9wq8" rowspan="2" style="transform:rotate(-90deg)"> {{ps.provider}}</td>
    </tr>
    <tr style="border-style: dashed solid solid solid; border-width: 1px">
      <td class="tg-9wq8">{{ ps.nextVisit | date:'d/MM/yy' }}</td>
      <td class="tg-9wq8"><span ng-if="ps.bloodPressureSystolicVitalS || ps.bloodPressureDiastolicVSNew">{{ps.bloodPressureSystolicVitalS}}/{{ps.bloodPressureDiastolicVSNew}}</span></td>
      <td class="tg-9wq8">
       <span ng-if="ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_PRES_Condom_button_Yes')===true">PRES</span>
        <span ng-if="ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_VAS_Vasectomy_button_Yes')===true">VAS</span>
        <span ng-if="ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_PIL_Oral_Contraceptive_button_Start')===true || ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_PIL_Oral_Contraceptive_button_In_Progress')===true || ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_PIL_Oral_Contraceptive_button_End')===true ">PIL</span>
        <span ng-if="ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_INJ_Injection_button_Start')===true || ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_INJ_Injection_button_In_Progress')===true || ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_INJ_Injection_button_End')===true ">INJ</span>
        <span ng-if="ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_IMP_Implant_button_Start')===true|| ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_IMP_Implant_button_In_Progress')===true|| ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_IMP_Implant_button_End')===true ">IMP</span>
        <span ng-if="ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_DIU_Intra_button_Start')===true || ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_DIU_Intra_button_In_Progress')===true || ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_DIU_Intra_button_End')===true  ">DIU</span>
        <span ng-if="ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_LT_Tubal_Ligation_button_Yes')===true ">LT</span>
        <span ng-if="ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_MAL_Lactational_Amenorrhea_Method_button_Yes')===true ">MAL</span>
        <span ng-if="ps.familyPlanningMethods.includes('Family_Planning_Contraceptive_Methods_OUT_Other_button_Yes') ">Outro</span>
      </td>
      <td class="tg-9wq8">{{ ps.infantsOdemaProphylaxis }}</td>
      <td class="tg-9wq8"><span ng-if='masterCardData.patientInfo.age > 5'>{{ ps.height/100 }}</span><span ng-if='masterCardData.patientInfo.age < 5 || masterCardData.patientInfo.age === 5 '>{{ ps.height }}</span></td>
      <td class="tg-9wq8">{{ ps.bmi }}</td>
      <td class="tg-9wq8">{{ ps.nutritionalState }}</td>
      <td class="tg-9wq8"> {{ ps.nutritionalSupplementQt }} {{ps.nutritionalSupplementMeasurementUnit}}</td>
      <td class="tg-9wq8">{{ ps.prophylaxisSymptoms }}</td>
      <td class="tg-9wq8">{{ ps.tbTreatmentStartDate | date:'d/MM/yy'}} <br> <div><span ng-class="{'circleSelect':ps.tbTreatmentState == 'Start_SP'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.tbTreatmentState == 'Em Curso'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.tbTreatmentState == 'Family_Planning_Contraceptive_Methods_PIL_Oral_Contraceptive_button_End'}">F</span></div></td>
      <td class="tg-9wq8"><div><span ng-class="{'circleSelect':ps.stateProphylaxisCTZ == 'Inicio_Prophylaxis'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.stateProphylaxisCTZ == 'Em Curso_Prophylaxis'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.stateProphylaxisCTZ == 'Fim_Prophylaxis'}">F</span></div></td>
      <td class="tg-9wq8"><div><span ng-class="{'circleSelect':ps.spSideEffectsCTZ===true}">S</span>&nbsp;&nbsp;&nbsp; <span ng-class="{'circleSelect':ps.spSideEffectsCTZ === false}">N</span></div></td>
      <td class="tg-9wq8">{{ ps.stiDiagnosisProphylaxis }}&nbsp;&nbsp;&nbsp;{{ ps.syndromicApproachSTIM }}&nbsp;&nbsp;&nbsp;{{ ps.syndromicApproachSTIF }} </td>

      <td class="tg-9wq8"><span ng-if="ps.CD4 === undefined">PEDIDO</span>{{ps.CD4}}</td>
      <td class="tg-9wq8">{{ps.prescribedDrugs.name}}</td>
      <td class="tg-9wq8">N/A</td>
      <td class="tg-9wq8"> {{ps.tarvAdherence}}</td>

      <td class="tg-9wq8">
        <div ng-if="ps.referenceSectionSupportGroupCR">CR:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroupCR == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroupCR == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroupCR == 'Reference_End'}">F</span></div>
        <div ng-if="ps.referenceSectionSupportGroupPC">PC:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroupPC == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroupPC == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroupPC == 'Reference_End'}">F</span></div>
        <div ng-if="ps.referenceSectionSupportGroupAR">AR:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroupAR == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroupAR == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroupAR == 'Reference_End'}">F</span></div>
        <div ng-if="ps.referenceSectionSupportGroupMPS">MPS:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroupMPS == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroupMPS == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroupMPS == 'Reference_End'}">F</span></div>
        <div ng-if="ps.referenceSectionSupportGroup">Other:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroup == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroup == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceSectionSupportGroup == 'Reference_End'}">F</span></div>
       </td>
      <td class="tg-9wq8">
        <div ng-if="ps.referenceMDCSectionAF">AF:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionAF == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionAF == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionAF == 'Reference_End'}">F</span></div>
        <div ng-if="ps.referenceMDCSectionDT">DT:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionDT == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionDT == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionDT == 'Reference_End'}">F</span></div>
        <div ng-if="ps.referenceMDCSectionGA">GA:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionGA == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionGA == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionGA == 'Reference_End'}">F</span></div>
        <div ng-if="ps.referenceMDCSectionCA">CA:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionCA == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionCA == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionCA == 'Reference_End'}">F</span></div>
        <div ng-if="ps.referenceMDCSectionPU">PU:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionPU == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionPU == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionPU == 'Reference_End'}">F</span></div>
        <div ng-if="ps.referenceMDCSectionFR">FR:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionFR == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionFR == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionFR == 'Reference_End'}">F</span></div>
        <div ng-if="ps.referenceMDCSectionDC">DC:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionDC == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionDC == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionDC == 'Reference_End'}">F</span></div>
        <div ng-if="ps.referenceMDCSectionOther">Other:&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionOther == 'Reference_Start'}">I</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionOther == 'Reference_In_Progress'}">C</span>&nbsp;&nbsp;&nbsp;<span ng-class="{'circleSelect':ps.referenceMDCSectionOther == 'Reference_End'}">F</span></div>
       </td>
    </tr>
    <tr ng-repeat-end></tr>
   <tr style="border-style: solid solid dashed solid; border-width: 1px" ng-repeat-start="px in masterCardData.patientInfo.fichaClinicaEmpty track by $index">
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8">/  /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S  N</td>
      <td class="tg-9wq8">S  N</td>
      <td class="tg-9wq8">I  C  F</td>
      <td class="tg-9wq8">S  N</td>
      <td class="tg-9wq8">S  N</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8" ></td>
      <td class="tg-9wq8" rowspan="2">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R<br>S&nbsp;&nbsp;&nbsp;A<br>O&nbsp;&nbsp;&nbsp;T
      </td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="1"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
    </tr>
    <tr style="border-style: dashed solid solid solid; border-width: 1px">
      <td class="tg-9wq8">/  /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">__/__/__<br>I  C  F</td>
      <td class="tg-9wq8">I  C  F</td>
      <td class="tg-9wq8">S  N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B  R  M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S  N<br>I  C  F</td>
      <td class="tg-9wq8">S  N<br>I  C  F</td> 
    </tr>
    <tr ng-repeat-end></tr>
    <tr style="border-style: solid; border-width: 1px">
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8">
        </td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
        <td class="tg-9wq8"></td>
      </tr>
  </table>
</body>