<div class="reg-body-wrapper">
<div class="edit-patient simple-form-ui">
    <form name="myForms.myForm" ng-submit="update()" novalidate>
        <div class="box-container box-container-default">
            <legend class="registraion_legend first-registraion_legend" ng-class="{'removeLegend': patient.primaryIdentifier == undefined}">
                <span class="mylegend"><strong>{{'REGISTRATION_LABEL_PATIENT_DISPLAY_ID' | translate}}: <span id="patientIdentifierValue">{{patient.primaryIdentifier.identifier}}</span></strong></span>
                <span ng-show= "isDigitized" class="right"><strong>{{::'REGISTRATION_LABEL_SCANNED' | translate}}</strong></span>
            </legend>
            <div class="photo-container-wrapper" ng-if="!disablePhotoCapture">
                <span class="photo-container">
                        <img class="patient-image" ng-src="{{patient.image}}" fallback-src="../images/blank-user.gif">
                        <div ng-model="patient.image" capture-photo class="capture-photo-btn"></div>
                 </span>
            </div>
            <span class="form-field-inline clearfix" ng-repeat="attribute in ::patientConfiguration.attributeTypes">
                    <article class="form-field" ng-if="attribute.name == 'TYPE_OF_REGISTRATION'" ng-class="{'has-error' : submitted && !typeOfRegistrationChange}">
                        <span hidden>{{attribute.enabled = hasTypeOfRegistration}}</span>
                            <attribute-types target-model="patient" attribute="::attribute" field-validation="::fieldValidation"
                                is-auto-complete="isAutoComplete" get-auto-complete-list="getAutoCompleteList"
                                on-change="checkDuplicatePatients()"
                                get-data-results="getDataResults" is-read-only="isReadOnly" handle-update="handleUpdate"></attribute-types>
                    </article>
            </span>
            <span class="form-field-inline clearfix" ng-repeat="attribute in ::patientConfiguration.attributeTypes">
                     <article class="form-field" ng-if="attribute.name == 'PATIENT_STATUS'"
                              ng-class="::{'right-form-field' : $index%2 != 0}">
                            <attribute-types target-model="patient" attribute="::attribute" field-validation="::fieldValidation"
                                             is-auto-complete="isAutoComplete" get-auto-complete-list="getAutoCompleteList"
                                             on-change="checkDuplicatePatients()"
                                             get-data-results="getDataResults" is-read-only="isReadOnly" handle-update="handleUpdate"></attribute-types>
                    </article>
             </span>
            <span class="form-field-inline clearfix" ng-repeat="attribute in ::patientConfiguration.attributeTypes">
                <article class="form-field" ng-if="attribute.name == 'US_REG_DATE'" 
                ng-class="::{'right-form-field' : $index%2 != 0}">
                        <attribute-types target-model="patient" attribute="::attribute" field-validation="::fieldValidation" 
                            is-auto-complete="isAutoComplete" get-auto-complete-list="getAutoCompleteList" 
                            on-change="checkDuplicatePatients()"
                            get-data-results="getDataResults" is-read-only="isReadOnly"  handle-update="handleUpdate"></attribute-types>
                </article>
            </span>

            <section>  
            <article class="form-field">
                    <div class="field-attribute">
                        <label class="control-label"
                               for="patientID">{{'REGISTRATION_LABEL_PATIENT_ENTER_ID' | translate}}
                            <span
                                    ng-show="::patient.primaryIdentifier.identifierType.required && !patient.primaryIdentifier.hasIdentifierSources()"
                                    class="asterick">*</span>
                        </label>
                    </div>
                    <div class="input-prepend" ng-if="patient.TYPE_OF_REGISTRATION.value === 'TRANSFERRED_PATIENT'">
                        <span class="add-on">{{ ::'REGISTRATION_HEALTH_FACILITY_CODE' | translate}}</span>
                        <input type="text" name="healthFacilityCode" id="healthFacilityCode"
                               ng-model="NID.healthFacilityCode" ng-blur="buildFinalNID()" focus-me="true"
                               placeholder="{{::'REGISTRATION_PLACEHOLDER_FOR_NID_HEALTHFACILITY_CODE' | translate}}"
                               minlength="8" ng-pattern="regexDigits" maxlength="8" size=8 required="true" ng-disabled="formFieldsDisabled"
                               ng-class="{'illegalValue' : submitted && this.myForms.myForm.healthFacilityCode.$invalid || this.myForms.myForm.healthFacilityCode.$invalid && !this.myForms.myForm.healthFacilityCode.$pristine || this.myForms.myForm.healthFacilityCode.$error.pattern}">
                        <p class="help-block"
                           ng-show="this.myForms.myForm.healthFacilityCode.$error.minlength && !this.myForms.myForm.healthFacilityCode.$error.pattern">
                            {{::'MINLENGTH_HEALTH_FACILITY_CODE' | translate}}</p>
                    </div>

                    <div class="input-prepend" ng-if="patient.TYPE_OF_REGISTRATION.value == 'NEW_PATIENT'">
                        <span class="add-on">{{ ::'REGISTRATION_HEALTH_FACILITY_CODE' | translate}}</span>
                        <input type="text" name="healthFacilityCode" ng-model="NID.healthFacilityCode"
                               minlength="8" maxlength="8" size=8 required focus-me="true" readonly
                               ng-focus="NID.healthFacilityCode = healthFacility.code">
                    </div>

                <div class="input-prepend" ng-if="patient.TYPE_OF_REGISTRATION.value !== 'TRANSFERRED_PATIENT' && patient.TYPE_OF_REGISTRATION.value !== 'NEW_PATIENT' && hasTypeOfRegistration === false">
                    <span class="add-on">{{ ::'REGISTRATION_HEALTH_FACILITY_CODE' | translate}}</span>
                    <input type="text" name="healthFacilityCode" id="healthFacilityCode"
                           ng-model="NID.healthFacilityCode" ng-blur="buildFinalNID()" focus-me="true"
                           placeholder="{{::'REGISTRATION_PLACEHOLDER_FOR_NID_HEALTHFACILITY_CODE' | translate}}"
                           minlength="8" ng-pattern="regexDigits" maxlength="8" size=8 required="true" ng-disabled="formFieldsDisabled"
                           ng-class="{'illegalValue' : submitted && this.myForms.myForm.healthFacilityCode.$invalid || this.myForms.myForm.healthFacilityCode.$invalid && !this.myForms.myForm.healthFacilityCode.$pristine || this.myForms.myForm.healthFacilityCode.$error.pattern}">
                    <p class="help-block"
                       ng-show="this.myForms.myForm.healthFacilityCode.$error.minlength && !this.myForms.myForm.healthFacilityCode.$error.pattern">
                        {{::'MINLENGTH_HEALTH_FACILITY_CODE' | translate}}</p>
                </div>

                    <div class="input-prepend">
                        <span class="add-on">{{ ::'REGISTRATION_SERVICE_CODE' | translate}}</span>
                        <input type="text" name="serviceCode" id="serviceCode" ng-model="NID.serviceCode"
                               pattern-validate focus-on="patient.primaryIdentifier.hasOldIdentifier" disabled size="2"
                               ng-init="NID.serviceCode='01'">
                    </div>

                    <div class="input-prepend">
                        <span class="add-on">{{ ::'REGISTRATION_NID_YEAR' | translate}}</span>
                        <input type="number" id="nidYear" name="nidYear" ng-model="NID.year" pattern-validate
                               min="1900" size="4" max="{{currentYear}}" minlength="1" maxlength="4" focus-me="true" required="true"
                               placeholder="{{::'REGISTRATION_PLACEHOLDER_FOR_NID_YEAR' | translate}}"
                               ng-blur="buildFinalNID()" ng-disabled="formFieldsDisabled"
                               ng-class="{'illegalValue' : submitted && this.myForms.myForm.nidYear.$invalid || this.myForms.myForm.nidYear.$invalid && !this.myForms.myForm.nidYear.$pristine}">
                    </div>

                    <div class="input-prepend">
                        <span class="add-on">{{ ::'REGISTRATION_SEQUENTIAL_CODE' | translate}}</span>
                        <input type="text" name="sequentialCode" id="sequentialCode" ng-model="NID.sequentialCode"
                               pattern-validate focus-on="patient.primaryIdentifier.hasOldIdentifier"
                               minlength="5" ng-pattern="regexDigits" maxlength="5" size="8"
                               ng-blur="buildFinalNID()" ng-disabled="formFieldsDisabled" required="true"
                               placeholder="{{::'REGISTRATION_PLACEHOLDER_FOR_NID_SEQUENCIAL_CODE' | translate}}"
                               ng-class="{'illegalValue' : submitted && this.myForms.myForm.sequentialCode.$invalid || !this.myForms.myForm.sequentialCode.$pristine && this.myForms.myForm.sequentialCode.$invalid || this.myForms.myForm.sequentialCode.$error.pattern || this.myForms.myForm.sequentialCode.$error.minlength}">
                        <p class="help-block"
                           ng-show="this.myForms.myForm.sequentialCode.$error.minlength && !this.myForms.myForm.sequentialCode.$error.pattern">
                            {{::'MINLENGTH_REGISTRATION_SEQUENTIAL_CODE' | translate}}</p>
                    </div>
                </article>
            </section>
        </div>
        <ng-include src="'views/patientcommon.html'"></ng-include>
        <patient-action></patient-action>
    </form>
    <br>
</div>
</div>