<head>
<style type="text/css">
  .tg  {text-align:center;font-family:Arial, sans-serif;font-size:10;border-collapse:collapse;width:100%;}
  .tg td{padding: 0px 3px 0px 3px;border-style:solid;border-width:1px;border-color:black;}
  .tg th{border-collapse: collapse;font-family:Arial, sans-serif;font-size:10;font-weight:normal;border-style:solid;border-width:1px;border-color:black;}
  .tg .tg-9wq8{border-color:inherit;}
  .tg .tg-c3ow{border-color:inherit;}
  .tg .tg-0pky{border-color:inherit;text-align:left;}
  .tg .tg-q9j0{font-size:10;border-color:inherit;}
  .tl  {font-family:Arial, sans-serif;font-size:10;font-weight:normal;border-collapse:collapse;;}
  .tl td{border-style:solid;border-width:1px;border-color:black;}
  .tl th{border-style:solid;border-width:1px;border-color:black;}
  .tx {font-family:Arial, sans-serif;font-size:10;display:"inline-block"}
  .tgt {writing-mode: vertical-rl;text-orientation: sideways;}

  @media print and (orientation: landscape) {
		.page-break {
			display: block;
			page-break-before: always;
		}
	}

  </style>


</head>
<body>
<table class="tl" align="left">
<th>Ficha Clinica</th> 
</table>

<table class="tl" align="right">
  <tr><td>População Chave - HSH<input type="checkbox" checked>
    PID<input type="checkbox">
    REC<input type="checkbox">
    MTS<input type="checkbox">
  Outro________________</td> </tr>
  <tr><td>População Vulnerável: </td> </tr>
  </table>

<br>
<br>
<div class="tx"> Nome___________________________ </div>
<br>
<div class="tx"> NID (US / Anual / Individual) _______________/_______/_____&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TARV-Coorte (Mês / Ano)_____/_____ </div>
<br>

  <table class="tg">
    <tr>
      <th class="tg-9wq8"></th>
      <th class="tg-9wq8">1</th>
      <th class="tg-9wq8">2</th>
      <th class="tg-9wq8">3</th>
      <th class="tg-9wq8">4</th>
      <th class="tg-9wq8">5</th>
      <th class="tg-9wq8">6</th>
      <th class="tg-9wq8">7</th>
      <th class="tg-9wq8">8</th>
      <th class="tg-9wq8">9</th>
      <th class="tg-9wq8">10</th>
      <th class="tg-9wq8">11</th>
      <th class="tg-9wq8">12</th>
      <th class="tg-9wq8">13</th>
      <th class="tg-9wq8">14</th>
      <th class="tg-9wq8">15</th>
      <th class="tg-9wq8">16</th>
      <th class="tg-9wq8">17</th>
      <th class="tg-9wq8">18</th>
      <th class="tg-9wq8">19</th>
      <th class="tg-9wq8">20</th>
      <th class="tg-9wq8">21</th>
      <th class="tg-9wq8">22</th>
      <th class="tg-9wq8">23</th>
      <th class="tg-9wq8" colspan="2">24</th>
      <th class="tg-0pky"></th>
    </tr>
    <tr>
      <td class="tgt" rowspan="4">Processo X</td>
      <td class="tg-9wq8" rowspan="2">Consulta Actual / Outros(d/ m/ a)</td>
      <td class="tg-9wq8" rowspan="2">Idade (Se ≥ 5 anos em anos; se ≤ 5 anos em meses)</td>
      <td class="tg-9wq8" rowspan="2">Gravidez / Data Última Menstruação / Lactante</td>
      <td class="tg-9wq8" rowspan="2">Estadio OMS(I, II, III, IV)</td>
      <td class="tg-9wq8">Peso(kg)</td>
      <td class="tg-9wq8" rowspan="3">PB (Grávida; 6 meses do pós-parto; Criança de 6-59 meses)</td>
      <td class="tg-9wq8" rowspan="2">Avaliação Nutricional</td>
      <td class="tg-9wq8" rowspan="3">Recebeu Apoio / Educação nutricional (Não / Tipo)</td>
      <td class="tg-9wq8" colspan="2">Tuberculose</td>
      <td class="tg-9wq8" rowspan="2">Profilaxia INH(Início / Continua / Fim - I / C / F)</td>
      <td class="tg-9wq8" rowspan="2">Ef. Secundários</td>
      <td class="tg-9wq8">ITS</td>
      <td class="tg-9wq8" rowspan="4">Infecções Oportunistas,Incluindo Sarcome Kaposi, outras doenças(Não / Diagnóstico)</td>
      <td class="tg-9wq8" colspan="2">Investigações</td>
      <td class="tg-9wq8" colspan="5">TARV</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" colspan="3">Referência para:</td>
      <td class="tgt" rowspan="4">RUBRICA</td>
    </tr>
    <tr>
      <td class="tg-q9j0" rowspan="3">Comprimento / Altura Se ≥ 5 anos em metros; se ≤ 5 anos em cm </td>
      <td class="tg-9wq8" rowspan="2">Tem sintomas? (S / N)</td>
      <td class="tg-9wq8" rowspan="2">Diagnóstico TB activa(S / N)</td>
      <td class="tg-9wq8" rowspan="2">Tem sintomas? (S / N)</td>
      <td class="tg-9wq8" rowspan="2">Carga Viral(Pedido / Cópias / ml)</td>
      <td class="tg-9wq8" rowspan="3">Hemoglobina (Hg) /Transaminases (AST / ALT) / Glicemia (GL) Creatinina (CR) / Amilase (AM) / Outros (O)(<span style="text-decoration:underline">Pedido</span> - Marcar com círculo; <span style="text-decoration:underline">Resultado</span> - Valor)</td>
      <td class="tg-9wq8" rowspan="2">Linha - Dispensa mensal / Trimestral (1ª / 2ª / 3ª Linha - DM / DT)</td>
      <td class="tg-9wq8" rowspan="3"><span style="text-decoration:underline">Para cada ARV</span>Posologia de cada dose e№ de doses /dia</td>
      <td class="tg-9wq8" rowspan="2">Alternativa ou Mudança linha?(Não / A - M)</td>
      <td class="tg-9wq8" rowspan="2">Efeitos Secundários(Não / Código - Grau)</td>
      <td class="tg-9wq8" rowspan="3">Mudança Estado P<span style="font-weight:inherit;font-style:inherit">ermanência</span><span style="font-weight:inherit;font-style:inherit">&nbsp;&nbsp;TARV</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RSAOT</td>
      <td class="tg-9wq8" rowspan="3">Outras prescrições(Excluir TPI, TPC e ARVs)</td>
      <td class="tg-9wq8" rowspan="3">TB / PTV / PF /APSS e PP /Revelação Di<span style="font-weight:inherit;font-style:inherit">agnóstica /</span><span style="font-weight:inherit;font-style:inherit">Inernamento / Outro</span></td>
      <td class="tg-9wq8">Grupo de Apoio (Código)</td>
      <td class="tg-c3ow">Modelo Diferenciado de Cuidados (MDC) Código</td>
    </tr>
    <tr>
      <td class="tg-9wq8" rowspan="2">Próxima Consulta  (d/ m/ a)</td>
      <td class="tg-9wq8" rowspan="2">Tensão Arterial</td>
      <td class="tg-9wq8" rowspan="2">Plan. Familiar  (Não / Método)</td>
      <td class="tg-9wq8" rowspan="2">Criança Edemas (o / +a  +++)</td>
      <td class="tg-9wq8">Indicador (IMC; PB; IMC / Idade; P / E)</td>
      <td class="tg-9wq8" rowspan="2">Profilaxia CTZ (Início / Continua / Fim - I / C / F)</td>
      <td class="tg-9wq8">INH (S / N)</td>
      <td class="tg-9wq8" colspan="2">Elegível (S / N)</td>
    </tr>
    <tr>
      <td class="tg-9wq8">IMC (Kg / m2)</td>
      <td class="tg-9wq8">Grau  (Normal /  Ligeira /  DAM / DAG)</td>
      <td class="tg-9wq8">Quantidade </td>
      <td class="tg-9wq8">Quais sintomas? (FESTAC; adenopatias)</td>
      <td class="tg-9wq8">Tratamento TB (cartão / TB - Data de Início e Fim) (Início / Continua / Fim) (d / m / a - I / C / F)</td>
      <td class="tg-9wq8">CTZ (S / N)</td>
      <td class="tg-9wq8">Diagnóstico ITS (Código)</td>
      <td class="tg-9wq8">CD4 (Pedido / se ≤  5A - CD4%)</td>
      <td class="tg-9wq8">Regime (Siglas)</td>
      <td class="tg-9wq8">Motivo (Código)</td>
      <td class="tg-9wq8">Adesão  (Boa / Risco / Má - B / R / M)</td>
      <td class="tg-9wq8" colspan="2">Início / Continua / Fim  (I / C / F)</td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S                N</td>
      <td class="tg-9wq8">       I       C       F       </td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;T</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-0pky" rowspan="2"></td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">____/____/____<br>I       C       F</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B      R       M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S                N</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;T</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-0pky" rowspan="2"></td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">____/____/____<br>I       C       F</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B      R       M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S                N</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;T</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-0pky" rowspan="2"></td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">____/____/____<br>I       C       F</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B      R       M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S                N</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;T</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-0pky"></td>
      <td class="tg-0pky" rowspan="2"></td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">____/____/____<br>I       C       F</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B      R       M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S                N</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;T</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-0pky"></td>
      <td class="tg-0pky" rowspan="2"></td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">____/____/____<br>I       C       F</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B      R       M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S                N</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;T</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-0pky"></td>
      <td class="tg-0pky" rowspan="2"></td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">____/____/____<br>I       C       F</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B      R       M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S                N</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;T</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-0pky"></td>
      <td class="tg-0pky" rowspan="2"></td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">____/____/____<br>I       C       F</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B      R       M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S                N</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;T</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-0pky"></td>
      <td class="tg-0pky" rowspan="2"></td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">____/____/____<br>I       C       F</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B      R       M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S                N</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;T</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-0pky"></td>
      <td class="tg-0pky" rowspan="2"></td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">____/____/____<br>I       C       F</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B      R       M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S                N</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;T</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-0pky"></td>
      <td class="tg-0pky" rowspan="2"></td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">____/____/____<br>I       C       F</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B      R       M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S                N</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;T</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-0pky"></td>
      <td class="tg-0pky" rowspan="2"></td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">____/____/____<br>I       C       F</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B      R       M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S                N</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8">_ Linha DM DT</td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"> R&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;T</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8" rowspan="2"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-c3ow"></td>
      <td class="tg-0pky" rowspan="2"></td>
    </tr>
    <tr>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">/        /</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">____/____/____<br>I       C       F</td>
      <td class="tg-9wq8">I        C       F</td>
      <td class="tg-9wq8">S        N</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">Hb___ ALT___ AST___GL___ CR___ AM___O_________________</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">B      R       M</td>
      <td class="tg-9wq8"></td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
      <td class="tg-9wq8">S     N<br>I     C    F</td>
    </tr>
  </table>
</body>