<head>
    <style>
        @media print and (orientation: landscape) {
            .page-break {
                display: block;
                page-break-before: always;
            }
        }

        table {
            width: 100%
        }

        table,
        td,
        th {
            border: 1px solid #595959;
            border-collapse: collapse;
            font-family: arial;
            font-size: 10px;
            line-height: 13.5px;
        }

        td,
        th {
            padding: 0 1px 0 1px;
        }

        input[type="checkbox"] {
            vertical-align: middle;
        }

        .center {
            text-align: center;
        }

        .text-small {
            font-size: 7px;
        }

        .align-right {
            float: right;
        }

        .circleSelect {
            border-radius: 100%;
            border: 1px solid #000;
            padding-left: 2px;
            padding-right: 2px;
            padding-top: 1px;
            padding-bottom: 1px;
        }
    </style>
</head>

<body>
<table>
    <tr>
        <td colspan="20">&nbsp;&nbsp;<b>Ficha Resumo</b></td>
        <td colspan="40"></td>
        <td rowspan="40" style="width: 6px"></td>
        <td colspan="40">
            &nbsp;&nbsp;<b>ARVs</b> tomados anteriormente, antes do TARV actual
            <span class="align-right">
                    <input type="checkbox" class="text-right"/>SIM&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" class="text-right"/>NÃO
                </span>
        </td>
    </tr>
    <tr>
        <td colspan="20" rowspan="2">
            &nbsp;&nbsp;<b>Data Abertura da Ficha:</b> 22/10/2019
        </td>
        <td colspan="40" rowspan="2">
            &nbsp;&nbsp;<b>NID (Código da US / Annual Individual):</b> 01234567/01/1904/19040
            <br>
            &nbsp;&nbsp;<b>LIVROS:</b> Pré-TARV:___ Pág:___ Linha: ___ TARV:___ Pág:___ Linha:___
        </td>
        <!--<td></td>-->
        <td colspan="16">&nbsp;&nbsp;Se SIM:</td>
        <td colspan="8" class="center">Data</td>
        <td colspan="8" class="center">Onde?</td>
        <td colspan="8" class="center">ARVs</td>
    </tr>
    <tr>
        <td colspan="16">
            <input type="checkbox"/>PTV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox"/>PPE
        </td>
        <td colspan="8" class="center">__/__/__</td>
        <td colspan="8"></td>
        <td colspan="8"></td>
    </tr>
    <tr>
        <td colspan="60" rowspan="6">
            &nbsp;&nbsp;<b>Província:</b> Maputo&nbsp;&nbsp;&nbsp;&nbsp;<b>Distrito:</b> Municipal Kanpfumo&nbsp;&nbsp;&nbsp;&nbsp;<b>Unidade
            Sanitária:</b> Privado Maputo optica Serviços Lda
            <br>
            &nbsp;&nbsp;<b>Nome Completo:</b> Tessa Lynne Thmpson <span class="align-right"><b>N&deg; de B.I.:</b> MZ12345678&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <br>
            &nbsp;&nbsp;<b>Sexo:</b> F&nbsp;&nbsp;&nbsp;&nbsp;<b>Data de nascimento:</b> 01/10/1992&nbsp;&nbsp;&nbsp;&nbsp;<b>Idade:</b>
            22&nbsp;&nbsp;&nbsp;&nbsp;<b>Tel. Cel (1):</b> 82 345 6789
            <br>
            &nbsp;&nbsp;<b>Profissão:</b> Actriz&nbsp;&nbsp;&nbsp;&nbsp;<b>Nível de Escolaridade:</b> Universitário&nbsp;&nbsp;&nbsp;&nbsp;<b>Tel.
            Cel (2):</b> 84 567 8900
            <br>
            &nbsp;&nbsp;<b>MORADA - Distrito / Cidade:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Localidade / Bairro:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Célula / Quarteirão:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            &nbsp;&nbsp;<b>Avenida / Rua / Casa:</b> Av. Ho Chi Min, n400, 1&deg; andar <span class="align-right"><b>Perto de:</b> Praça da Independência&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </td>
        <td colspan="16"><input type="checkbox"/>Outros, especifique</td>
        <td colspan="8" class="center">__/__/__</td>
        <td colspan="8"></td>
        <td colspan="8"></td>
    </tr>
    <tr>
        <td colspan="1" rowspan="9" class="center">
            <div style="transform: translateX(0%) translateY(-100%) rotate(270deg);">1&ordf;<br>Linha</div>
        </td>
        <td colspan="39">&nbsp;&nbsp;<b>No início do TARV - TARV - Coorte (Mês/Ano):</b> Maio / 2018</td>
    </tr>
    <tr>
        <td colspan="8" rowspan="2" class="center">
            Data<br>
            __/__/__
        </td>
        <td colspan="31">
            &nbsp;&nbsp;<b>Regime ARV inicial de 1&ordf; linha:</b> AZT 300mg/ 3TC 150mg NVP 200mg
        </td>
    </tr>
    <tr>
        <td colspan="31">&nbsp;&nbsp;<b>Unidade Sanitária:</b> CS 17 De Setembro - 1040106</td>
    </tr>
    <tr>
        <td colspan="8" rowspan="2" class="center">No início<br>TARV</td>
        <td colspan="31">
            &nbsp;&nbsp;Gravidez: <input type="checkbox" class="text-right"/>
            Sim <input type="checkbox" class="text-right"/>
            Não <input type="checkbox" class="text-right"/>
            Lactante <input type="checkbox" class="text-right"/>
            Sim <input type="checkbox" class="text-right"/>
            Não <input type="checkbox" class="text-right"/>
        </td>
    </tr>
    <tr>
        <td colspan="31">&nbsp;&nbsp;<b>Estado de OMS:</b> <span>III</span> <b>CD4 (N° / %):</b> <span>250</span></td>
    </tr>
    <tr>
        <td colspan="60" rowspan="4">
            &nbsp;&nbsp;<u>CONFIDENTE</u> -
            <span class="align-right"><b>Tel. Cel (1):</b> _________________</span>
            <br>
            &nbsp;&nbsp;<b>Nome e Parentesco:</b>
            <span class="align-right"><b>Tel. Cel (1):</b> _________________</span>
            <br>
            &nbsp;&nbsp;<b>MORADA - Distrito / Cidade:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Localidade / Bairro:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Célula / Quarteirão:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            &nbsp;&nbsp;<b>Avenida / Rua / Casa:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Perto de:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td colspan="39">&nbsp;&nbsp;Alternativas à 1&ordf; linha</td>
    </tr>
    <tr>
        <td colspan="8" class="center">02/02/19</td>
        <td colspan="31">
            &nbsp;&nbsp;<b>Novo Regime:</b> TDF 300mg/ 3TC 300mg/ DTG 50mg
            &nbsp;&nbsp;<b>Motivo:</b> Lorem ipsum dolor.
        </td>
    </tr>
    <tr>
        <td colspan="8" class="center">21/03/19</td>
        <td colspan="31">
            &nbsp;&nbsp;<b>Novo Regime:</b> AZT 300mg/ 3TC 150mg NVP 200mg
            &nbsp;&nbsp;<b>Motivo:</b> Lorem ipsum dolor.
        </td>
    </tr>
    <tr>
        <td colspan="8" class="center">08/10/19</td>
        <td colspan="31">
            &nbsp;&nbsp;<b>Novo Regime:</b> ABC 60mg/ 3TC 30mg
            &nbsp;&nbsp;<b>Motivo:</b> Lorem ipsum dolor.
        </td>
    </tr>
    <tr>
        <td colspan="28" class="center">Situação da Família</td>
        <td colspan="4" rowspan="9"></td>
        <td colspan="28" class="center">Situação da Família</td>
        <td colspan="1" rowspan="4" class="center">
            <div style="transform: translateX(0%) translateY(0%) rotate(270deg);">2&ordf;<br>Linha</div>
        </td>
        <td colspan="39">&nbsp;&nbsp;Mudança para a 2&ordf; linha (ou substituição dentro da 2&ordf; linha)</td>
    </tr>
    <tr>
        <td colspan="14" class="center" style="height: 5px;">Nome</td>
        <td colspan="2" rowspan="2" class="center" style="width: 10px;">Ida-<br>de</td>
        <td colspan="2" rowspan="2" class="center text-small">Teste<br>HIV<br>(P/N/D)</td>
        <td colspan="2" rowspan="2" class="center text-small">Cui-<br>dados<br>HIV<br>(S/N/A)</td>
        <td colspan="2" rowspan="2" class="center text-small">Em<br>CCR<br>(S/N/A)</td>
        <td colspan="6" rowspan="2" class="center" style="width: 10px;">NID</td>
        <td colspan="14" class="center">Nome</td>
        <td colspan="2" rowspan="2" class="center" style="width: 10px;">Ida-<br>de</td>
        <td colspan="2" rowspan="2" class="center text-small">Teste<br>HIV<br>(P/N/D)</td>
        <td colspan="2" rowspan="2" class="center text-small">Cui-<br>dados<br>HIV<br>(S/N/A)</td>
        <td colspan="2" rowspan="2" class="center text-small">Em<br>CCR<br>(S/N/A)</td>
        <td colspan="6" rowspan="2" class="center" style="width: 10px;">NID</td>
        <td colspan="8" class="center">02/11/19</td>
        <td colspan="31">
            &nbsp;&nbsp;<b>Novo Regime:</b> AZT 300mg/ 3TC 150mg NVP 200mg
            &nbsp;&nbsp;<b>Motivo:</b> Lorem ipsum dolor.
        </td>
    </tr>
    <tr>
        <td colspan="14" class="center" style="height: 5px;">Parentesco</td>
        <td colspan="14" class="center">Parentesco</td>
        <td colspan="8" class="center">__/__/__</td>
        <td colspan="31">
            &nbsp;&nbsp;<b>Novo Regime:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;<b>Motivo:</b>
        </td>
    </tr>
    <tr>
        <td colspan="14" class="center">Rui Pinto</td>
        <td colspan="2" rowspan="2" class="center">25</td>
        <td colspan="2" rowspan="2" class="center"><span class="circleSelect">P</span> N D</td>
        <td colspan="2" rowspan="2" class="center">S N</td>
        <td colspan="2" rowspan="2" class="center">S N A</td>
        <td colspan="6" rowspan="2" class="center"></td>
        <td colspan="14" class="center"></td>
        <td colspan="2" rowspan="2" class="center"></td>
        <td colspan="2" rowspan="2" class="center">P N D</td>
        <td colspan="2" rowspan="2" class="center">S N</td>
        <td colspan="2" rowspan="2" class="center">S N A</td>
        <td colspan="6" rowspan="2" class="center"></td>
        <td colspan="8" class="center">__/__/__</td>
        <td colspan="31">
            &nbsp;&nbsp;<b>Novo Regime:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;<b>Motivo:</b>
        </td>
    </tr>
    <tr>
        <td colspan="14" class="center">Namorado</td>
        <td colspan="14" class="center"></td>
        <td colspan="1" rowspan="3" class="center">
            <div style="transform: translateX(0%) translateY(0%) rotate(270deg);">3&ordf;<br>Linha</div>
        </td>
        <td colspan="39">&nbsp;&nbsp;Mudança para a 3&ordf; linha</td>
    </tr>
    <tr>
        <td colspan="14" class="center">Ana</td>
        <td colspan="2" rowspan="2" class="center">3</td>
        <td colspan="2" rowspan="2" class="center">P N D</td>
        <td colspan="2" rowspan="2" class="center">S <span class="circleSelect">N</span></td>
        <td colspan="2" rowspan="2" class="center">S N A</td>
        <td rowspan="2" colspan="6" class="center"></td>
        <td colspan="14"></td>
        <td colspan="2" rowspan="2" class="center"></td>
        <td colspan="2" rowspan="2" class="center">P N D</td>
        <td colspan="2" rowspan="2" class="center">S N</td>
        <td colspan="2" rowspan="2" class="center">S N A</td>
        <td rowspan="2" colspan="6" class="center"></td>
        <td colspan="8" rowspan="2" class="center">__/__/__</td>
        <td colspan="31" rowspan="2">
            &nbsp;&nbsp;<b>Novo Regime:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;<b>Motivo:</b>
        </td>
    </tr>
    <tr>
        <td colspan="14" class="center">Filha</td>
        <td colspan="14" class="center"></td>

    </tr>
    <tr>
        <td colspan="14" class="center">Amélia</td>
        <td colspan="2" rowspan="2" class="center">1</td>
        <td colspan="2" rowspan="2" class="center">P N D</td>
        <td colspan="2" rowspan="2" class="center">S N</td>
        <td colspan="2" rowspan="2" class="center">S N A</td>
        <td rowspan="2" colspan="6" class="center"></td>
        <td colspan="14"></td>
        <td colspan="2" rowspan="2" class="center"></td>
        <td colspan="2" rowspan="2" class="center">P N D</td>
        <td colspan="2" rowspan="2" class="center">S N</td>
        <td colspan="2" rowspan="2" class="center">S N A</td>
        <td rowspan="2" colspan="6" class="center"></td>
        <td colspan="40" class="center">Mudanças no Estado de Permanência TARV</td>
    </tr>
    <tr>
        <td colspan="14" class="center">Filha</td>
        <td colspan="14" class="center"></td>
        <td colspan="9" rowspan="2" class="center">Suspensões ou<br> Abandonos</td>
        <td colspan="8" rowspan="2">
            <div><input type="checkbox"/>Suspensão</div>
            <div><input type="checkbox"/>Abandono</div>
        </td>
        <td colspan="8" rowspan="2">
            <div><input type="checkbox"/>Suspensão</div>
            <div><input type="checkbox"/>Abandono</div>
        </td>
        <td colspan="8" rowspan="2">
            <div><input type="checkbox"/>Suspensão</div>
            <div><input type="checkbox"/>Abandono</div>
        </td>
        <td colspan="8" rowspan="2">
            <div><input type="checkbox"/>Suspensão</div>
            <div><input type="checkbox"/>Abandono</div>
        </td>
    </tr>
    <tr>
        <td colspan="10" class="center">Data</td>
        <td colspan="50" class="center">Cuidados de HIV</td>
    </tr>
    <tr>
        <td colspan="10" class="center">24/05/19</td>
        <td colspan="50">
            &nbsp;&nbsp;<b>Teste HIV+:</b>
            <input type="checkbox" checked/>TR
            <input type="checkbox"/>PCR
            &nbsp;&nbsp;&nbsp;<b>Unidade Sanitária:</b> CS 17 De Setembro - 1040106
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"/><b>ATSC</b>
        </td>
        <td colspan="9" rowspan="2">&nbsp;&nbsp;Data</td>
        <td colspan="8" rowspan="2"></td>
        <td colspan="8" rowspan="2"></td>
        <td colspan="8" rowspan="2"></td>
        <td colspan="8" rowspan="2"></td>
    </tr>
    <tr>
        <td colspan="10" class="center">__/__/__</td>
        <td colspan="50">
            <input type="checkbox"/>Diagnóstico presuntivo em crianças < 18 meses
        </td>
    </tr>
    <tr>
        <td colspan="10" class="center">24/05/19</td>
        <td colspan="50">
            <b>Início Pré-TARV</b> - U.Sanitária: <span>CS 17 De Setembro - 1040106</span>
            <b>Sector:</b> <input type="checkbox"/>TB
            <input type="checkbox"/>SAAJ
            <input type="checkbox" checked/>CPN/G
            <input type="checkbox"/>CCR/L
            <input type="checkbox"/>Clínica
        </td>
        <td colspan="9" rowspan="2">&nbsp;&nbsp;Motivo</td>
        <td colspan="8" rowspan="2"></td>
        <td colspan="8" rowspan="2"></td>
        <td colspan="8" rowspan="2"></td>
        <td colspan="8" rowspan="2"></td>
    </tr>
    <tr>
        <td colspan="60">
            <input type="checkbox"/>Transferido de outra US <span>__/__/__</span>&nbsp;&nbsp;
            Unidade Sanitária &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox"/>Em Pré-TARV
            <input type="checkbox"/>TARV
        </td>
    </tr>
    <tr>
        <td colspan="14" class="center">Alergias e<br>medicamentos</td>
        <td colspan="6" class="center">Data</td>
        <td colspan="40" class="center">Condições médicas importantes</td>
        <td colspan="9" rowspan="2" class="center"><input type="checkbox"/><br>Reinício - Data</td>
        <td colspan="8" rowspan="2"></td>
        <td colspan="8" rowspan="2"></td>
        <td colspan="8" rowspan="2"></td>
        <td colspan="8" rowspan="2"></td>
    </tr>
    <tr>
        <td colspan="14"></td>
        <td colspan="6" class="center">__/__/__</td>
        <td colspan="40"></td>
    </tr>
    <tr>
        <td colspan="14"></td>
        <td colspan="6" class="center">__/__/__</td>
        <td colspan="40"></td>
        <td colspan="9"></td>
        <td colspan="8" class="center">Data</td>
        <td colspan="24"></td>
    </tr>
    <tr>
        <td colspan="14"></td>
        <td colspan="6" class="center">__/__/__</td>
        <td colspan="40"></td>
        <td colspan="9" rowspan="2" class="center"><input type="checkbox"/><br>Transferido para</td>
        <td colspan="8" rowspan="2" class="center">__/__/__</td>
        <td colspan="24" rowspan="2">&nbsp;&nbsp;Unidade Sanitária:</td>
    </tr>
    <tr>
        <td colspan="14"></td>
        <td colspan="6" class="center">__/__/__</td>
        <td colspan="40"></td>
    </tr>
    <tr>
        <td colspan="30">&nbsp;&nbsp;Último CD4 (Valor/Data)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>__/__/__
        </td>
        <td colspan="30" rowspan="2">&nbsp;&nbsp;Última Profilaxia Isoniazida (Data de início) __/__/__</td>
        <td colspan="9" rowspan="2"><input type="checkbox"/>Óbito</td>
        <td colspan="8" rowspan="2" class="center">__/__/__</td>
        <td colspan="24" rowspan="2"></td>
    </tr>
    <tr>
        <td colspan="30">&nbsp;&nbsp;Última Carga viral (Valor/Data)<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>__/__/__
        </td>
    </tr>
</table>
</body>
