
<style type="text/css">

@media all {
    .page-break { display: none; }
}

@media print and (orientation: portrait) {
    .page-break { display: block; page-break-before: always; }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.doc-info {
    font-size:13px;
}

fieldset {
  font-size:13px;
  line-height: 1.6;
  border: 1px solid black;
}

</style>
<div ng-controller="TransferController">
    <span ng-if="data">
        <img ng-if="data.hospitalLogo" height="60px" width="60px" src="{{ data.hospitalLogo }}" class="center">
        <h4 class="center">REPÚBLICA DE MOÇAMBIQUE<br>MINISTÉRIO DA SAÚDE<br>GUIA DE TRANSFERÊNCIA</h4>
        
        <span class="doc-info">
            <b>{{ 'TRANSFER_FROM' | translate }}</b>:&nbsp{{ data.hospitalName }}&nbsp&nbsp&nbsp&nbsp
            <b> {{ 'PROGRAM_MANAGEMENT_TO_KEY' | translate }}</b>:&nbsp{{ data.dest }}&nbsp&nbsp&nbsp&nbsp
            <b>{{ 'ALLERGIES_LIST_DATE' | translate }}</b>:&nbsp{{ data.Transfer | date:'dd/MM/yyyy'}}
        </span>
        <br><br>

        <fieldset>
            <legend><b>{{ 'PATIENT_IDENTIFICATION' | translate }}</b></legend>
            <b> {{ 'PRESCRIPTION_REPORT_PATIENT_NAME' | translate }}</b>:&nbsp
            {{ data.patientInfo.firstName }}&nbsp&nbsp{{ data.patientInfo.lastName }}
            <span style="margin-left: 12%;"><b> {{ 'PRESCRIPTION_REPORT_PATIENT_ID' | translate }}</b>:&nbsp{{data.patientInfo.patientId}}</span><br>
            <b>{{ 'CLINICAL_LIST_PATIENT_SEX' | translate }}</b>:&nbsp{{ data.patientInfo.sex }}
            <span style="margin-left: 1.2%;"><b>{{ 'CLINICAL_LIST_PATIENT_DOB' | translate }}</b>:&nbsp{{ data.patientInfo.birth_date | date:'dd/MM/yyyy'}}</span>
            <span style="margin-left: 1.2%;"><b>{{ 'PRESCRIPTION_REPORT_PATIENT_AGE_AND_SEX' | translate }}</b>:&nbsp{{ data.patientInfo.age }}</span>
            <span style="margin-left: 1.2%;"><b>{{ 'CLINICAL_LIST_PATIENT_MAIN_CONTACT' | translate }}</b>:&nbsp{{ data.patientInfo.mainContact }}</span><br>
            
            <b>{{ 'PRESCRIPTION_REPORT_PATIENT_ADDRESS' | translate }}:</b>
            <span><b>{{ 'PROVINCE' | translate }}</b>:&nbsp{{ data.province }}</span>
            <span style="margin-left: 2%;"><b>{{ 'DISTRICT_CITY' | translate }}</b>:&nbsp{{ data.District }}</span>
            <span style="margin-left: 2%;"><b>{{ 'TOWN' | translate }}</b>:&nbsp{{ data.address1 }}</span><br>
            
            <span><b>{{ 'CELL_BLOCK' | translate }}</b>:&nbsp{{ data.address3 }}</span>
            <span style="margin-left: 2%;"><b>{{ 'STREET_HOUSE' | translate }}</b>:&nbsp{{ data.address4}}</span>
            <span style="margin-left: 2%;"><b>{{ 'CLOSE_OF' | translate }}</b>:&nbsp{{ data.address2}}</span>
        </fieldset>
        <br>
        <fieldset>
            <legend><b>{{ 'PROPHILAXIS' | translate }}</b></legend>
            <span><b>{{ 'DATE_OF_DIAGNOSIS' | translate }}</b>:&nbsp{{data.patientInfo.hivDate | date:'dd/MM/yyyy'}}</span>

            <div ng-repeat="s in data.patientInfo.patientStatus">
                <b> {{ 'TREATMENT_STATUS' | translate }}</b>
                <span> 
                    <input type="checkbox" ng-checked="s !== 'TARV' " />Pr&eacute TARV
                    (<b>{{ 'REGISTRATION_DATE' | translate }}</b>:&nbsp{{data.patientInfo.regDate | date:'dd/MM/yyyy'}})&nbsp&nbsp
                </span>
                <span>
                    <input type="checkbox" ng-checked="data.patientInfo.isTARV === 'TARV'" />TARV
                    (<b>{{ 'START_DATE' | translate }}</b>:&nbsp{{data.patientInfo.treatmentStartDate | date:'dd/MM/yyyy'}})&nbsp&nbsp
                </span>
            </div>


            <b>{{ 'ART_REGIME' | translate }}</b>:&nbsp{{data.patientInfo.currRegARV}}<br>
            <b>{{ 'REGIME_CHANGE_TO' | translate }}</b>:&nbsp{{data.patientInfo.secLast}}&nbsp
            <b>{{ 'MEDICATION_DUE_TO' | translate }}</b>:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <b>{{ 'ALLERGIES_LIST_DATE' | translate }}</b>:&nbsp{{data.patientInfo.secLastDate | date:'dd/MM/yyyy'}}<br>
            <b>{{ 'REGIME_CHANGE_TO' | translate }}</b>:&nbsp {{data.patientInfo.thirdLast | date:'dd/MM/yyyy'}}&nbsp
            <b>{{ 'MEDICATION_DUE_TO' | translate }}</b>:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <b>{{ 'ALLERGIES_LIST_DATE' | translate }}</b>:&nbsp{{data.patientInfo.thirdLastDate | date:'dd/MM/yyyy'}}<br>
            
            <b>INH - {{ 'START_DATE' | translate }}</b>:&nbsp{{ data.patientInfo.INH_start | date:'dd/MM/yyyy'}}
            <span style="margin-left: 30%;"><b>{{ 'END_DATE' | translate }}</b>:&nbsp{{ data.patientInfo.INH_end | date:'dd/MM/yyyy'}}</span>
            <br>
            <b>CTZ - {{ 'START_DATE' | translate }}</b>:&nbsp{{ data.patientInfo.CTZ_start | date:'dd/MM/yyyy'}}
            <span style="margin-left: 29.5%;"><b>{{ 'END_DATE' | translate }}</b>:&nbsp{{ data.patientInfo.CTZ_end | date:'dd/MM/yyyy'}}</span>
            

        </fieldset>
        <br>
        <fieldset>
            <legend><b>{{ 'CLINICAL_SITUATION' | translate }}</b></legend>
            <b>{{ 'WEIGHT' | translate }}</b>:&nbsp{{ data.patientInfo.weight }}
            <span style="padding-left: 10px;"><b>{{ 'HEIGHT' | translate }}</b>:&nbsp{{ data.patientInfo.height }}</span>
            <span style="padding-left: 10px;"><b>{{ 'BMI' | translate }}</b>:&nbsp{{ data.patientInfo.BMI }}</span>
            <span style="padding-left: 10px;"><b>{{ 'CLINICAL_STAGE' | translate }}</b>:&nbsp{{ data.patientInfo.whoStaging }}</span>
            <br>
            <b>{{ 'CONDITION_NAME' | translate }}</b>:&nbsp{{ data.patientInfo.condName }}
            <br>
            <b>{{ 'TB_BACKGROUND' | translate }}</b>:&nbsp{{ data.patientInfo.Tb_back }}&nbsp
            <span style="padding-left: 20px;"><b>({{ 'TREATMENT_START' | translate }}</b>&nbsp&nbsp{{ data.patientInfo.Tb_start | date:'dd/MM/yyyy'}}</span>
            <span style="padding-left: 20px;"><b>{{ 'TREATMENT_END' | translate }}</b>:&nbsp{{ data.patientInfo.Tb_end | date:'dd/MM/yyyy' }})</span>
            <br>
            <b>{{ 'CURRENT_DIAGNOSIS' | translate }}</b>:&nbsp
            <span ng-repeat="c in data.patientInfo.diagnosisName"><span> {{c}}; </span></span>
            <span>{{ data.patientInfo.diagnosisPastName }}</span>
            <br>
            <b>{{ 'ON_GOING_TREATMENT' | translate }}</b>:&nbsp
            <span ng-repeat="b in data.patientInfo.notARV">
                <span style="margin-left: 7px;"> {{b}}<br>
                <span style="margin-left: 162px"></span></span>
            </span>
            <br>
            <b>{{ 'PREGNANCY' | translate }}</b>{{ data.patientInfo.pregStatus }} <input type="checkbox" ng-checked="data.patientInfo.pregStatus"/>
            <span style="padding-left: 20px;">
                <b>{{ 'BREASTFEEDING_STATUS' | translate }}</b>:&nbsp{{ data.patientInfo.breastFeedingStatus | translate }} <input type="checkbox" ng-checked="data.patientInfo.breastFeedingStatus" />
            </span>
            <br>
            <b>{{ 'MDS_STATUS' | translate }}</b>:&nbsp<span ng-if="data.patientInfo.mdsNo">{{data.patientInfo.mdsNo | translate}}</span><span ng-if="data.patientInfo.mdsYes">{{data.patientInfo.mdsYes | translate}}</span>
            <span style="padding-left: 20px;"> <b>{{ 'MODEL_TYPE' | translate }}</b> </span>
            <span style="width: 70%;float: right;" ng-repeat="a in data.patientInfo.modelTypes track by $index">
                <span style="margin-left: 5%;">{{a}}</span>
            </span>
            <span style="padding-left: 20px;">(<b>{{ 'REGISTRATION_DATE' | translate }}</b>:&nbsp{{data.patientInfo.modelDate | date:'dd/MM/yyyy'}})</span>
        </fieldset>
        <br>
        <fieldset>
            <legend><b>{{ 'LABORATORY_SITUATION' | translate }}</b></legend>
            <b>{{ 'LATEST_ANAYSIS' | translate }}</b>
            <br>
            <b>{{'LO_CD4' | translate}}</b>:&nbsp{{data.labOrderResult.LO_CD4.testResult}} %
            <span style="margin-left: 10%;"><b>{{'LO_DATE' | translate}}</b>:&nbsp{{data.labOrderResult.LO_CD4.testDate | date:'dd/MM/yyyy'}}</span>
            <span style="margin-left: 20%;"><b>{{'LO_ViralLoad' | translate}}</b>:&nbsp{{data.labOrderResult.LO_ViralLoad.testResult}}</span>
            <span style="margin-left: 5%;"></span><b>{{'LO_DATE' | translate}}</b>:&nbsp{{data.labOrderResult.LO_ViralLoad.testDate | date:'dd/MM/yyyy'}}</span>
            <br>
            <span><b>{{'LO_HGB' | translate}}</b>:&nbsp{{data.labOrderResult.LO_HGB.testResult}}</span> 
            <span style="margin-left: 5%;"><b>{{'LO_DATE' | translate}}</b>:&nbsp{{data.labOrderResult.LO_HGB.testDate | date:'dd/MM/yyyy'}}</span>
            <span style="margin-left: 20%;"><b>{{'LO_ALT' | translate}}</b>:&nbsp{{data.labOrderResult.LO_ALT.testResult}}</span>
            <span style="margin-left: 2%;"><b>{{'LO_AST' | translate}}</b>:&nbsp{{data.labOrderResult.LO_AST.testResult}}</span>
            <span style="margin-left: 2%;"><b>{{'LO_DATE' | translate}}</b>:&nbsp{{data.labOrderResult.LO_AST.testDate | date:'dd/MM/yyyy'}}</span>
            <br>
            <span><b>{{'LO_Other' | translate}}</b>:&nbsp{{data.labOrderResult['LO_Other:'].testResult}}</span>
            <span style="margin-left: 10%;"><b>{{'LO_DATE' | translate}}</b>:&nbsp{{data.labOrderResult['LO_Other:'].testDate | date:'dd/MM/yyyy'}}</span>
        </fieldset>
        <br>

        <span class="doc-info">
            <b style="line-height: 1.6;">{{ 'NAME_OF_PROVIDER' | translate }}</b>:&nbsp{{ data.patientInfo.username }}
            <span style="margin-left: 25%;"><b>{{ 'CONTACT' | translate }}</b>:</span>
            <br>
            <b style="line-height: 1.6;">{{ 'PRESCRIPTION_REPORT_SIGNATURE' | translate }}</b>:&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95&#95
            <h4 class="center">{{ 'INFO' | translate }}</h4>
        </span>
    </span>
</div>