<input type="text"
       id="patientID"
       min-length=3
       bahmni-autocomplete
       ng-model="patient"
       source="search"
       response-map="responseMap"
       on-select="onSelectPatient"
       strict-select="true"
       ng-class="{'illegalValue': isInvalid}"
       placeholder="{{'PLACEHOLDER_APPOINTMENT_CREATE_SEARCH_PATIENT' | translate }}"
       non-blank
       required
/>
<i class="fa fa-close" ng-show="patient.length > 0" aria-hidden="true" ng-click="patient = ''" style="cursor: pointer;"></i>
<i class="fa fa-search search-icon-app" ng-hide="patient.length > 0" aria-hidden="true"></i>